<!-- templates/registration/password_reset_form.html -->
{% extends 'index.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    <h1>Forgot your password?</h1>
    <p>Please enter your email, and we will send you instructions to reset password.
    </p>

    <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="card-body py-5 px-md-5">
            <form method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Email</span>
                        {{ form.email }}
                    </div>
                </div>

                {#                {{ form.as_p }}#}
                <button type="submit" class="save btn btn-secondary mt-2">Send me instructions!</button>
            </form>
        </div>
    </div>

{% endblock %}