<!-- templates/registration/password_reset_confirm.html -->
{% extends 'index.html' %}

{% block title %}Enter new password{% endblock %}

{% block content %}

    {% if validlink %}


        <h1>Set a new password!</h1>
        <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-body py-5 px-md-5">
                <form method="POST">
                    {% csrf_token %}
                    <div class="col-md-12 mb-1">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">New password</span>
                            {{ form.new_password1 }}
                            {% if form.new_password1.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.new_password1.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12 mb-1">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Confirm new password</span>
                            {{ form.new_password2 }}
                            {% if form.new_password2.errors %}
                                <div class="alert alert-danger">
                                    <ul>
                                        {% for error in form.new_password2.errors %}
                                            <li><strong>{{ error|escape }}</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {#  {{ form.as_p }}#}
                    <button type="submit" class="save btn btn-secondary mt-2">Change my password</button>
                </form>
            </div>
        </div>
    {% else %}

        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password
            reset.</p>

    {% endif %}
{% endblock %}