{% extends "index.html" %}

{% block content %}

    <div class="card mb-3 shadow-lg p-3 mb-5 bg-white rounded">
        <h2>Send message</h2>
        <div> Select users to send message.</div>
        <div class="col-lg-8">
            <ul>
                {% for user in users %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{ user.email }}" name="user"
                               id="flexCheckChecked"
                               checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            {{ user.first_name }} {{ user.last_name }} ({{ user.email }})
                        </label>
                    </div>
                {% endfor %}
            </ul>
        </div>
        <form method="POST" class="post-form" enctype="multipart/form-data" name="message_form">
            {% csrf_token %}
            <div class="mb-3" style="display: none;">
                {{ form.emails }}
            </div>

            <div class="input-group mb-3">
                {{ form.subject }}
            </div>

            <div class="mb-3">
                {{ form.message }}
            </div>
            <button id="submit_btn" type="submit" class="save btn btn-secondary mt-2">Send</button>
        </form>

        <script>
            const btn = document.querySelector('#submit_btn');
            btn.addEventListener('click', (event) => {
                let checkboxes = document.querySelectorAll('input[name="user"]:checked');
                let values = [];
                checkboxes.forEach((checkbox) => {
                    values.push(checkbox.value);
                });
                {#alert(values);#}
                {#Set form field value.#}
                document.forms['message_form']['emails'].value = values;
            });

        </script>

        <section>
            {% for message in messages %}
                <div class="toast alert {{ message.tags }} alert-dismissible shadow fade show" role="alert"
                     data-bs-delay="3000" data-bs-autohide="true">
                    <div class="toast-header">
                        <strong class="me-auto">Message</strong>
                        <small class="text-muted">just now</small>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ message | safe }}
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}
